<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<title>Guess Number</title>
	<link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script type="text/javascript" src="js/imagine.js"></script>
</head>
<body>
	<div id="container">
		<p>	Want you to play game with me?<br>
			Imagine the number between 0 - 100?<br>
			Ready?		
		</p>
		<button id="go">Go!!!
		</button>
	</div>
	<footer>Created by Bojan Vujnovic
	</footer>
</body>
</html>